
@{
    ViewBag.Title = "Guardar";
}

<h2>Guardar Director</h2>

<form method="post" action="/Director/DirectorGuardar">
    <h4>Nombre</h4>
    <input class="form-control" name="Nombre" />

    <h4>Apellidos</h4>
    <input class="form-control" name="Apellidos" />

    <button class="btn btn-success"  type="submit">Guardar</button>
    <a href="/Pelicula" class="btn btn-danger">Volver</a>
</form>
<br />

