
@{
    ViewBag.Title = "Guardar";
}
<h2>Guardar Pelicula</h2>
<div class="container">
    <div class="row">
        <div class="col-12 center">
            <form method="post" action="/Pelicula/PeliculaGuardar">
                <h3>Nombre</h3>
                <input class="form-control" name="NombrePelicula" />
                <h4><strong style="color:red">@Html.ValidationMessage("NombrePelicula")</strong></h4>
                <h3>Año</h3>
                <input class="form-control" name="Año" />
                <h4><strong style="color:red">@Html.ValidationMessage("Año")</strong></h4>
                <div class="col-md-6">
                    <h3>Director</h3>
                    @Html.DropDownList("DirectorId", ViewBag.directores as SelectList, new { @class = "js-example-tags form-control" })
                </div>
                
             
                <br />
                <br />
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-danger text-right" href="/Pelicula"> Cancelar</a>
            </form>
        </div>
    </div>
</div>

<script>
    $(".js-example-tags").select2({
        tags: true
    });
</script>
